@media (max-width: 700px){
    .call-to-action-container{
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 1fr
                            1fr;
    
        height: 150px; 

        column-gap: 0px;
    }
    
    .call-to-action-text{
        margin-top: 20px;
    }

    .call-to-action-button{
        grid-column: 2;

        margin-bottom: 20px;
    }
}