@media (max-width: 55rem){
    .main-image-text-container{
        grid-template-columns: minmax(20rem, 1fr);
        row-gap: 1.5rem;

        height: 80rem;
    }
}



@container main-image-container (aspect-ratio > 1 / 1){
    .main-image-text-element .main-image div{
        height: 100%;
    }
}

@container main-image-container (aspect-ratio <= 1 / 1){
    .main-image-text-element .main-image div{
        width: 100%;
    }
}