@media (max-width: 60rem) {
    .title-container{
        grid-column: 1 / -1;

        grid-template-columns: subgrid;
        grid-template-rows: auto 
                            minmax(400px, auto);

        row-gap: clamp(20px, 6vh, 40px);
        column-gap: 0px;

        .title-text{
            grid-column: 2 / 2;
            /* max-width: 450px; */
        }

        .title-image{
            grid-column: 1 / -1;
        }
    }
}