@media (max-width: 700px) {
    .title-container{
        grid-column: 1 / -1;

        grid-template-columns: subgrid;
        grid-template-rows: auto 
                            clamp(400px, 50vh, 500px);

        row-gap: clamp(20px, 6vh, 40px);
        column-gap: 0px;

        .title-text{
            grid-column: 2 / 2;
            max-width: 450px;
        }

        .title-image{
            grid-column: 1 / -1;
        }
    }
}